# created by virtualenv automatically
.venv/
venv/
env/
ENV/

# Python Files
__pycache__/
*.py[cod]
*$py.class

# Compiled/distributions
build/
dist/
*.egg-info/
.eggs/
*.egg

# Logs
*.log

# Env
.env
.env.*
!.env.example

# System
.DS_Store
Thumbs.db

# PyCharm / IntelliJ
.idea/
*.iml

# Testing / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Temp
*.swp
*.swo

# Other
*.pdf
*.docx
*.xlsx
*.json
*.claude/
output_json/
output_normalizado/

column_map_prompt.txt
